<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,300;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <header>
      <a href="/qrs"><h2 class="logo">QRcode Generator</h2></a>
      <div class="dashBoard" style="display: none">
        <a
          href="#"
          class="dashboard"
          id="adminDashboard"
          onclick="getDashboard(event)"
          >Dashboard</a
        >
      </div>

      <div class="icon">
        <a href="/users/profile">
          <i class="fa-solid fa-user"></i>
        </a>
        <a href="#" class="logout" id="logOut" onclick="logOut(event)"
          >LogOut</a
        >
      </div>
    </header>

    <div class="box">
      <div class="qrHeader">
        <h1>QR Code Generator</h1>

        <form class="contact_form">
          <input
            type="text"
            name="name"
            placeholder="Type your text or URL"
            id="qrText"
            required
          />
          <div>
            <label for="Sizes">Select Size: </label>
            <select id="sizes" name="size" onchange="changeImageSize()">
              <option value="100">100 x 100</option>
              <option value="200">200 x 200</option>
              <option value="300">300 x 300</option>
            </select>
          </div>
          <input
            type="email"
            ,
            name="email"
            placeholder="Type your Email ID"
            id="mail"
            style="display: none"
          />
          <div class="mailbutton">
            <button
              type="button"
              class="mailbtn"
              id="mailbtn"
              onclick="getMailData()"
              style="display: none"
            >
              Send email
            </button>
          </div>

          <div class="qrfooter">
            <button
              type="button"
              class="footer2"
              id="btn"
              onclick="getQrData()"
            >
              Generate QR CODE
            </button>
          </div>
        </form>
      </div>

      <div class="qrBody">
        <img id="base64image" src="" style="display: none" />
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/public/javascript/qr.js"></script>
    <script src="/public/javascript/requestManager.js"></script>
    <script src="/public/javascript/storage.js"></script>

    <script>
      window.addEventListener("load", () => {
        pageLoad();
      });

      const getDashboard = async (event) => {
        event.preventDefault();
        window.location.href = "http://localhost:3000/users/dashboard";
      };

      const logOut = async (event) => {
        event.preventDefault();
        localStorage.clear();
        window.location.href = "http://localhost:3000/auth/login";
      };
      async function getQrData() {
        const qrText = document.getElementById("qrText").value;
        const emailbutton = document.getElementById("mailbtn");
        const emailinput = document.getElementById("mail");
        const imageQr = document.getElementById("base64image");
        if (qrText.trim() === "") {
          alert("Please enter text or URL before generating QR CODE.");
        } else {
          try {
            const response = await post({
              endpoint: "/api/v1/qrs",
              headers: { "Content-Type": "application/json" },
              params: { name: qrText },
            });

            const data = await response.data;

            document.getElementById("base64image").src = data.qr;
            imageQr.style.display = "block";
            emailbutton.style.display = "block";
            emailinput.style.display = "block";
          } catch (error) {
            throw new Error(
              `Fetch request failed with status ${response.status}`
            );

            console.error("error", error);
          }
        }
      }
      async function getMailData() {
        const mailbutton = document.getElementById("mailbtn");
        const email = document.getElementById("mail").value;
        if (!email.trim()) {
          alert("Please enter your Email ID.");
        } else {
          const qr = document.getElementById("base64image").src;
          try {
            const response = await post(
              { endpoint: "/api/v1/mails" },
              { headers: { "Content-Type": "application/json" } },
              { params: { qrCode: qr, email: email } }
            );
            const data = await response.data;
          } catch (error) {
            console.log(error);
          }
        }
      }

      function changeImageSize() {
        const selectedSize = document.getElementById("sizes").value;
        const image = document.getElementById("base64image");
        image.width = selectedSize;
        image.height = selectedSize;
      }
    </script>
  </body>
</html>
