* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2e8c6;
  padding: 15px 10%;
  transition: 0.2s;
  height: 58px;
}
.logo {
  color: #102c57;
  font-size: 35px;
  padding-left: 10px;
  font-weight: 700;
  scroll-padding-top: 10px;
}

header .icon i {
  font-size: 25px;
  color: #102c57;
  cursor: pointer;
  transition: 0.3s;
}

header .icon i:hover {
  color: #e25e3e;
}

header .logout {
  text-decoration: none;
  margin-left: 20px;
  color: #102c57;
  font-weight: 900;
}
header .logout:hover {
  color: #e25e3e;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #102c57;
}
a {
  text-decoration: none;
}

.box {
  background-color: #f2e8c6;
  padding: 25px;
  width: 400px;
  border-radius: 8px;
}

.qrHeader h1 {
  font-size: 26px;
  text-align: center;
  color: #3a4f7a;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

.qrHeader input {
  width: 100%;
  margin-block: 12px;
}

.qrHeader input,
select {
  border-radius: 10px;
  padding: 8px;
  font-size: 18px;
  outline: none;
  border: 2px solid #dad4b5;
}

.qrHeader label {
  color: #3a4f7a;
  font-size: 20px;
  font-weight: 600;
}

.qrHeader div {
  display: flex;
  justify-content: space-between;
}

.qrfooter {
  margin-top: 30px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 70px;
}

.qrfooter .footer2 {
  background-color: #e25e3e;
  color: azure;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 18px;
  font-weight: 600;
}

.qrfooter button {
  margin-top: 20px;
  border-color: #102c57;
}

.qrBody {
  display: grid;
  place-items: center;
  padding: 20px;
}

.qrBody img {
  max-width: 100%;
  max-height: 100%;
  margin-block: 10px;
  padding: 20px;
  border: 0.5px solid #dad4b5;
  border-radius: 18px;
}

.mailbtn {
  margin-top: 20px;
  border-color: bisque;
  border-radius: 18px;
  padding: 10px 20px;
  background-color: #3a4f7a;
  font-weight: 600;
  color: aliceblue;
}
